{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{% block description %}Explora el portafolio de un Desarrollador Full Stack con experiencia en Django, Angular, Ionic, Java, HTML/CSS y JavaScript. Experto en desarrollo web/móvil y gestión de datos PL/SQL. Descubre soluciones creativas y eficientes para tus necesidades tecnológicas aquí.{% endblock description %}">
    <meta name="keywords" content="{% block keyword %}Desarrollo web, Desarrollo móvil, Django, Angular, HTML, CSS, JavaScript{% endblock keyword %}">
    <meta name="author" content="{% block author %}Luis Ignacio Web Developer{% endblock author %}">
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />

    
    <link rel="stylesheet" type="text/css" href="{% static 'core/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'core/slick/slick-theme.css' %}"/>



    {% block stylesheet %}
    {% endblock stylesheet %}
    <!-- <link rel="icon" href="{% static 'core/img/icon.png' %}" /> -->
    <title>
    {% block titulo %}

    {% endblock titulo %}
    </title>


</head>
<body>



  <header id="landing-header" class="fixed top-0 w-full bg-white z-50">
    <nav class="fixed w-full z-20 top-0 start-0">
        <div class="py-6 px-10 flex items-center flex-wrap fixed top-0 w-full justify-between">
            {% comment %} py-6 px-10 flex items-center fixed top-0 w-full justify-between {% endcomment %}

            <!-- nav izquierda -->
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <h1 class="self-center text-2xl font-semibold whitespace-nowrap"><a href="">IgnacioDeveloper.</a></h1>
            </div>
            <!-- nav centro -->
            <nav >


            </nav>

            <!-- En el botón del menú -->
            <button data-collapse-toggle="navbar-sticky" type="button" class="z-50 menu-button inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>


            <div class="bg-white navbar-menu container items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  [&>li>a]:text-current   [&>li>a]:duration-500 [&>li>a]:inline-block [&>li>a]:px-8 [&>li>a]:py-3    ">
                    <li>
                        <a href="{% url 'index' %}" class="" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}" class="">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="">Contact</a>
                    </li>
                </ul>
            </div>

                <!-- box efect -->
            <div
            id="menu-backdrop"
            class="absolute bg-black/10 backdrop-blur-lg rounded translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 w-[var(--width)] h-[var(--height)] transition-all duration-500 ease-in-out opacity-0 -z-10"
            ></div>


        </div>
    </nav>
  </header>


  <div class="mt-20"> <!-- Ajusta el margen superior para dejar espacio para el navbar -->
    <div class="container text-center justify-content-center mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </div>
   </div>
    





    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuButton = document.querySelector("[data-collapse-toggle='navbar-sticky']");
            const navbarMenu = document.getElementById("navbar-sticky");
    
            menuButton.addEventListener("click", function() {
                navbarMenu.classList.toggle("hidden");
            });
        });


    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'core/slick/slick.min.js' %}"></script>

    <script src="{% static 'core/js/script.js' %}"></script>

    {% block script %}

    {% endblock script %}

</body>

</html>